input.search {
    width: 260px;
    border: 1px solid #555;
    display: block;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

#search_submit {
    display: none;
}



/*  لتضبيط شكل الهيدر */
header {

    text-align: center;
    padding: 10px;
    height: 90%;
}


footer {
    text-align: center;
}

/* اذا جينا نغير اللغة، مايطلع شكلها انها رابط وتحته خط */
a {
    text-decoration: none;
}

/* شفت واحد ينصح اننا نسويها عشان تضبط على اي جهاز او براوزر */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}


/* بس غيرنا سايز اللوقو */
.logo img {
    width: 60%;
    float: left;

}


/* هنا ابغى العناصر في الهيدر جنب بعض + غيرت لون العناصر في النافيقيشن*/
nav {
    display: flex;
    align-items: center;
    width: 90%;
    height: 150px;
    margin: 0 auto;
    justify-content: space-between;
    color: #191970;

}

.main_menu {
    font-size: 1.2em;
    font-weight: bold;


}



/* هنا اللغة المختارة */
.selected-language {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 75px;
}

/* هنا لوضع الصورة حقت اللغة، صورة العلم */
.selected-language::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(us.svg);
    background-size: cover;
}

/* هذي متعلقة باللي تحتها */
.lang-menu {
    position: relative;
}

/* هذي اذا بنغير اللغة */
.lang-menu ul {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: left;
    /* مايظهر مينو تغيير اللغة الا اذا مررنا المؤشر */
    display: none;
    /* اذا مررنا المؤشر، يكون البوكس ثابت مايتحرك مكانه */
    position: absolute;
}

/* هنا لتضبيط الشكل للعناصر، اللي هي انقلش وعربي */
.lang-menu ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

/* هنا تضبيط الشكل برضو */
.lang-menu ul li a {
    width: 125px;
    display: block;
    padding: 5px 10px;
}


/* هذي بخصوص تضبيط مكان لصورة العلم */
.lang-menu ul li a::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    /* background-image: url(us.svg);
    background-size: cover; */
    vertical-align: middle;

}

/* اذا بنختار عربي ولا انقلش يتغير اللون مع المؤشر */
.lang-menu ul li a:hover {
    background-color: #f2f2f2;
}


/* علم الانقلش */
.us::before {
    background-image: url(us.svg);
    background-size: cover;
}

/* علم السعودية عربي */
.ar::before {
    background-image: url(sa.svg);
    background-size: cover;
}


/* هنا اذا مررنا المؤشر بيظهر لي بوكس تغيير اللغة، بدون هالسطر مارح يطلع */
.lang-menu:hover ul {
    display: block;
}

/* لون الفوتر وعرضه */
.footer {
    width: 100%;
    height: 100%;

    display: flex;
    position: relative;

}

/* نضبط كل جززء من الفوتر يصير كأنه عمود*/
.footer .col {
    width: 400px;
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
    box-sizing: border-box;
    padding: 20px;

}

/* تنسيق عنوان كل عمود*/
.footer .col h5 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 17px;
    padding: 10px 0;
    color: #23297A;
    text-transform: uppercase;
}

/* عشان الايكونز ماتصير منقطة ك list */
.footer .col ul {
    list-style-type: none;
    padding: 0;
}

/* تنسيق رقم الجوال */
.footer .col ul,
li {
    color: black;
    font-size: 12px;
    padding: 5px 0px;
}

/*  للكوبي رايت */

.footer-copyright {
    text-align: center;
    justify-content: center;
    font-size: 14px;
    word-spacing: 2px;
    margin: auto;
    position: absolute;
    bottom: 10px;
    left: 45%;

}

/* له علاقة ان حدود الفوتر تكون نظيفة */
.clearfix {
    clear: both;
}


/* بداية تعديل الجدول */
table.ragad,
.ragad th,
.ragad tr,
.ragad td {
    border: 2px solid;
    border-color: black;
    text-align: center;
    margin: auto;
}

.ragad th,
.ragad td {
    padding: 15px;
}



table.ragad tbody {
    text-align: center;

    font-weight: bold;
}

table.ragad {
    border-style: groove;
    width: 80%;
}

/* نهاية تعديل الجدول */


/* لتنسيق العناوين الرئيسية */
h1 {
    /* color: #191970; */
    text-align: center;
}

h3 {
    /* color: #0E276D; */
    font-style: italic;
}

/* عشان مايصير المحتوى الرئيسي لاصق بالفوتر */
main {
    padding: 10px;
    background-image: url(background1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;


}

/* doctor page */
#doctor1,
#doctor2,
#doctor3,
#doctor4,
#doctor5,
#doctor6 {
    border: 2px solid rgb(46, 46, 46);
    border-radius: 5px;
    text-align: center;
    width: 300px;
    margin: 5px;
    background-color: rgb(255, 239, 239);
}


#doctors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



img[alt="doctor photo"] {
    padding-top: 10px;
}

button {
    margin-bottom: 10px;
    font-size: 15px;
    border-radius: 12px;
    background-color: royalblue;
    color: white;
}


button:hover {
    background-color: darkblue;
}


/* end doctor page */





/* BREADCRUMBS STYLING */

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;

}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {

    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}



/* Form styling */



form ul {
    list-style-image: url(pp.png);
    list-style-position: outside;
}


form.ADD {
    padding: 2%;


}

form fieldset {
    margin: 1%;
}

form label,
form p,
form input {
    font-size: 15px;
    font-weight: bold;
}


form li {
    font-size: 15px;
}

legend {
    font-size: 22px;
    font-style: italic;
}








/*  IN PATINET */

/*     start of  in patient css */
.forms {

    float: right;
    clear: right;
    background-color: rgb(209, 242, 235);
    margin-top: 5%;
    border-style: none;
    background-clip: padding-box;
    width: 300px;
    height: 180px;
    margin-left: 1%;
    display: none;
}

.forms fieldset {
    height: 100%;
}

.activeForm {
    display: block;
}

.addmissionLable {
    display: none;
}


.flex-container {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #BCD4E6;
    font-size: 15px;
    justify-content: space-between;
}

input[type="text"] input[ type="date"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: lightblue;
    border-style: none;
    color: #5F9EA0;
}

input[name="submit"] {

    cursor: pointer;
    width: 40%;
    box-sizing: border-box;
    background-color: lightblue;
    border-style: none;

}

main.pmain {

    background-color: #BCD4E6;
    border-style: ridge;
    border-color: gray;
    border-width: thin;
}

.pinfo {

    clear: right;

    float: right;
    width: 300px;
    height: 180px;
    margin-top: 15%;
    margin-left: 1%;
    border-style: solid;
    border-color: black;
    border-width: thin;
    background-color: rgb(209, 242, 235);
    font-weight: normal;
    color: #5F9EA0;
    text-align: center;

}

.pinfo h2 {
    text-align: center;
    color: #191970;

    font-style: italic;
}


.flex-container p {
    color: #191970;
    font-size: 1.5em;
}


#w {

    width: 40%;
    height: 10%;


}

/*     end of  in patient css */


/*خاص بصفحة الهوم بيج */



@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);




#inline {
    width: 100%;
    height: auto;
    display: flex;
}

#homeP {
    width: 100%;
}

.o_container,
.tw_container,
.th_container {
    position: relative;
    max-width: 800px;
    /* Maximum width */
    margin: 0 auto;
    /* Center it */

}

.o_container .o_content {
    position: absolute;
    /* Position the background text */
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    /* Grey text */
    width: 250px;
    /* Full width */
    height: 200px;
    padding: 20px;
    /* Some padding */
}

.tw_container .tw_content {
    position: absolute;
    /* Position the background text */
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    /* Grey text */
    width: 250px;
    /* Full width */
    height: 200px;
    padding: 20px;
    /* Some padding */
}

.th_container .th_content {
    position: absolute;
    /* Position the background text */
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    /* Grey text */
    width: 250px;
    /* Full width */
    height: 200px;
    padding: 20px;
    /* Some padding */
}

table.rahaf,
.rahaf th,
.rahaf tr,
.rahaf td {
    border: 2px solid;
    border-color: black;
    text-align: center;
    margin: auto;
}

.rahaf th,
.rahaf td {
    padding: 15px;
}


.rahaf img:hover {

    border: #191970 4px solid;
}


table.rahaf tbody {
    text-align: center;

    font-weight: bold;
}

table.rahaf {
    border-style: groove;
    width: 80%;
}

@media (max-width: 600px) {
    #search_submit {
        display: inline;
    }

    .search-container {
        margin: 50px 50px;
        display: block;
        position: relative;
        height: 60px;
        float: right;
        padding: 0;
        position: relative;
    }

    input[type="search"] {
        height: 60px;
        font-size: 20px;
        display: block;
        font-family: "Lato";
        font-weight: 100;
        border: none;
        outline: none;
        color: #555;
        padding: 3px;
        padding-right: 60px;
        width: 0px;
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        z-index: 3;
        transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
        cursor: pointer;
    }

    input[type="search"]:focus:hover {
        border-bottom: 1px solid #BBB;
    }

    input[type="search"]:focus {
        width: 150px;
        z-index: 1;
        border-bottom: 1px solid #BBB;
        cursor: text;
    }

    input[type="submit"] {
        height: 67px;
        width: 63px;
        display: block;
        color: red;
        float: right;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
        text-indent: -10000px;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        opacity: 0.4;
        cursor: pointer;
        transition: opacity .4s ease;
    }

    input[type="submit"]:hover {
        opacity: 0.8;
    }

}



@media only screen and (max-width:600px) {

    /*iphone*/
    .img1 {
        width: 100%;
    }

    /* Force table to not be like tables anymore */
    table.rahaf,
    table.rahaf thead,
    table.rahaf tbody,
    .rahaf th,
    .rahaf td,
    .rahaf tr {
        display: block;
        text-align: center;
    }



    .rahaf tr {
        border: 1px solid #ccc;
    }

    .rahaf td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        text-align: center;



    }


    .rahaf td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }



    .inline {
        display: block;
        text-align: center;
    }



    #inline {
        flex-direction: column;

    }

    .o_container,
    .tw_container,
    .th_container {
        margin: 20px;
        padding: 20px;

    }

    .footer {
        flex-direction: column;
    }


}




/*خاص هوسبيتلل */

#inli {
    width: 100%;
    height: auto;
    display: flex;
}

.cu,
.address {
    position: relative;
    max-width: 800px;
    /* Maximum width */
    margin: 0 auto;
    /* Center it */
}

/*الكتابه على الصوره*/
.mission {
    position: relative;
    text-align: center;
    color: grey;
}

#mission {
    width: 100%;
}

/* Bottom left text */
.top-left {
    font-size: 130%;
    position: absolute;
    bottom: 8px;
    left: 16px;
}

h2.v {
    text-shadow: .4em .4em .4em silver;
}

.vision {
    border: 10px solid rgb(114, 154, 168);
    font-size: 100%;
    text-align: center;
}

.cu {
    border: 10px solid rgb(114, 154, 168);
    width: 400px;
    height: 400px;
    text-align: center;
}

.cu p {
    padding-bottom: 10%;
}

.cu h2 {
    padding-top: 20%;
}

#matter {
    width: 80%;
}

.end-photo {
    text-align: center;
}


/* patients large icons */

.patient-large-icons {
    text-align: center;

}

.patient-large-icons img {
    width: 300px;
    height: 300px;
    border: #191970 2px solid;
    border-radius: 15em;
    background-color: rgb(221, 254, 255);

    margin: 4em;
}

.patient-large-icons img:hover {
    background-color: rgb(242, 218, 218);
    border: #191970 4px solid;
}

.icon-text-container {
    display: flex;
    justify-content: space-around;
    margin-left: 270px;
    margin-right: 270px;
    margin-top: -50px;
}

.icon-text-container h2 {

    text-align: center;
    width: 300px;

}



.o_content,
.tw_content,
.th_content {
    /* height: 50px; */
    overflow: hidden;
    position: relative;
    /* background: yellow;
    color: orange;
    border: 1px solid orange; */
}

.o_content a,
.tw_content a {
    padding-right: 6px;
}

.o_content a,
.tw_content a,
.th_content a {
    position: absolute;
    /* width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center; */
    /* Starting position */
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    /* Apply animation to this element */
    -moz-animation: scroll-up 5s linear infinite;
    -webkit-animation: scroll-up 5s linear infinite;
    animation: scroll-up 5s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-up {
    0% {
        -moz-transform: translateY(100%);
    }

    100% {
        -moz-transform: translateY(-100%);
    }
}

@-webkit-keyframes scroll-up {
    0% {
        -webkit-transform: translateY(100%);
    }

    100% {
        -webkit-transform: translateY(-100%);
    }
}

@keyframes scroll-up {
    0% {
        -moz-transform: translateY(100%);
        /* Browser bug fix */
        -webkit-transform: translateY(100%);
        /* Browser bug fix */
        transform: translateY(100%);
    }

    100% {
        -moz-transform: translateY(-100%);
        /* Browser bug fix */
        -webkit-transform: translateY(-100%);
        /* Browser bug fix */
        transform: translateY(-100%);
    }
}



:root {
    --blue: #3f72ac;
    --green: #4ea893;
}

.switch-control {
    display: flex;
    justify-content: right;
}

.switch {
    height: 20px;
    width: 20px;
    margin: 5px;
    border-radius: 50px;
    margin-top: 0%;
    cursor: pointer;
}

#switch1 {
    background-color: var(--blue);

}

#switch2 {
    background-color: var(--green);

}